<nav class="navbar navbar-expand navbar-light bg-white">
    <a class="sidebar-toggle d-flex mr-2">
        <i class="hamburger align-self-center"></i>
    </a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="dashboard-default.html#" data-toggle="dropdown">
                    <i class="align-middle" data-feather="settings"></i>
                </a>

                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="dashboard-default.html#" data-toggle="dropdown">
                    <span class="text-dark">@Session["HoTen"]</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/">Về trang chủ</a>
                    <a class="dropdown-item" href="@Url.Action("Logout","Home")">Đăng xuất</a>
                </div>
            </li>
        </ul>
    </div>
</nav>