@model TTPShop.Models.DanhMuc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    var ImagePath = "~/Areas/Admin/Assets/images/" + Model.AnhDM;
}

<h2>Xóa danh mục</h2>

<div class="wrapper bg-white mt-sm-5">
    <div class="py-1 row-details">
        <div class="row py-1">
            Tên danh mục:&nbsp; <b>@Model.TenDM</b>
        </div>
        <div class="row py-1">
            Ảnh:
        </div>
        <div class="row py-1">
            <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" alt="Alternate Text" />
        </div>

        @if (ViewData["Error"] != null)
        {
            <div class="row py-1 alert alert-danger text-center">
                <p class="text-center title-error">@ViewData["Error"]</p>
            </div>
        }

        <div class="py-3 pb-4 border-bottom">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Xóa" class="btn btn-danger" />
                            <a class="btn border button" href="/Admin/DanhMucs">Trở lại</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
