<ul class="header__right__widget">
    <li>
        <a href="@Url.Action("ShopCart","Home")">
            <span class="icon_bag_alt"></span>
        <div class="tip">@ViewData["TotalCart"]</div>
        </a>
    </li>
</ul>